
		<!-- SLIDE -->
		<section class="flat-row flat-slider">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="slider slider-wrapper owl-carousel">
							<div class="slider-item style2">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
									</div>
									<div class="divider65"></div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="images/icons/right-2.png" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<div class="sale-off">
										60 % <span>sale</span>
									</div>
									<img src="images/slider/03.png" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
										<p>The ship set ground on the shore of this uncharted desert isle
										with Gilligan the Skipper too the millionaire and his story.</p>
									</div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="images/icons/right-2.png" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<img src="images/slider/01.png" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item style2">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
									</div>
									<div class="divider65"></div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="images/icons/right-2.png" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<div class="sale-off">
										60 % <span>sale</span>
									</div>
									<img src="images/slider/03.png" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
										<p>The ship set ground on the shore of this uncharted desert isle
										with Gilligan the Skipper too the millionaire and his story.</p>
									</div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="images/icons/right-2.png" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<img src="images/slider/01.png" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item style2">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
									</div>
									<div class="divider65"></div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="images/icons/right-2.png" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<div class="sale-off">
										60 % <span>sale</span>
									</div>
									<img src="images/slider/03.png" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
										<p>The ship set ground on the shore of this uncharted desert isle
										with Gilligan the Skipper too the millionaire and his story.</p>
									</div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="images/icons/right-2.png" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<img src="images/slider/01.png" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
						</div><!-- /.slider -->
					 </div> 
				 </div> 
			</div> 
		</section><!-- /.flat-slider -->

		<section class="flat-row flat-banner-box ">
			<div class="container">
		        <div class="row">
		          <div class="col-md-12 col-sm-12 col-xs-12">
		            <div class="main-heading-content text-center">
		              <h2>VỀ <span>CHÚNG TÔI</span></h2>
		            </div>
		          </div>
		        </div>
		        <div class="row">
		          <!-- single-well start-->
		          <div class="col-md-6 col-sm-6 col-xs-12">
		            <div class="well-left">
		              <div class="single-well">
		                <a href="#">
		                  <img src="images/about/01.jpg" alt="">
		                </a>
		              </div>
		            </div>
		          </div>
		          <!-- single-well end-->
		          <div class="col-md-6 col-sm-6 col-xs-12">
		            <div class="well-middle">
		              <div class="single-well">
		                <a href="#">
		                  <h4 class="sec-head">CÔNG TY TNHH SELA</h4>
		                </a>
		                <p>
		                  Redug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis iure aspernatur sit adipisci quaerat unde at nequeRedug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis iure
		                </p>
		                <ul>
		                  <li>
		                    <i class="fa fa-check"></i> Interior design Package
		                  </li>
		                  <li>
		                    <i class="fa fa-check"></i> Building House
		                  </li>
		                  <li>
		                    <i class="fa fa-check"></i> Reparing of Residentail Roof
		                  </li>
		                  <li>
		                    <i class="fa fa-check"></i> Renovaion of Commercial Office
		                  </li>
		                  <li>
		                    <i class="fa fa-check"></i> Make Quality Products
		                  </li>
		                </ul>
		              </div>
		            </div>
		          </div>
		          <!-- End col-->
		        </div>
	     	 </div>
		</section><!-- /.flat-banner-box -->


  		<!-- ======= Services Section ======= -->
		<section class="flat-imagebox background">
		    <div id="services" class="services-area area-padding">
		      <div class="container">
		        <div class="row">
		          <div class="col-md-12 col-sm-12 col-xs-12">
		            <div class="main-heading-content services-head text-center">
		              <h2> <span>DỊCH VỤ</span> CỦA CHÚNG TÔI</h2>
		            </div>
		          </div>
		        </div>
		        <div class="row text-center">
		          <!-- Start Left services -->
		          <div class="col-md-4 col-sm-4 col-xs-12">
		            <div class="about-move">
		              <div class="services-details">
		                <div class="single-services">
		                  <a class="services-icon" href="#">
							<img src="images/logos/merch_millipore.png" width="150px" height="150px" alt="">
		                  </a>
		                  <h4>Merck Millipore</h4>
		                  <p>
		                    We provide scientists and engineers with best-in-class lab materials, technologies and service.
		                  </p>
		                </div>
		              </div>
		              <!-- end about-details -->
		            </div>
		          </div>
		          <div class="col-md-4 col-sm-4 col-xs-12">
		            <div class="about-move">
		              <div class="services-details">
		                <div class="single-services">
		                  <a class="services-icon" href="#">
		                    <img src="images/logos/schott_duran.png" width="150px" height="150px" alt="">
		                  </a>
		                  <h4>SCHOTT DURAN</h4>
		                  <p>
		                    SCHOTT is a leading international technology group in the areas of specialty glass and glass-ceramics.
		                  </p>
		                </div>
		              </div>
		              <!-- end about-details -->
		            </div>
		          </div>
		          <div class="col-md-4 col-sm-4 col-xs-12">
		            <!-- end col-md-4 -->
		            <div class=" about-move">
		              <div class="services-details">
		                <div class="single-services">
		                  <a class="services-icon" href="#">
		                    <img src="images/logos/ajay_sqm.png" width="150px" height="150px" alt="">
		                  </a>
		                  <h4>AJAY SQM</h4>
		                  <p>
							The Ajay-SQM Group has been a leader in the field of iodine chemistry for over 45 years.
		                  </p>
		                </div>
		              </div>
		              <!-- end about-details -->
		            </div>
		          </div>
		          <div class="col-md-4 col-sm-4 col-xs-12">
		            <!-- end col-md-4 -->
		            <div class=" about-move">
		              <div class="services-details">
		                <div class="single-services">
		                  <a class="services-icon" href="#">
		                    <img src="images/logos/sigma_aldrich.png" width="150px" height="150px" alt="">
		                  </a>
		                  <h4>SIGMA ALDRICH </h4>
		                  <p>
		                    Sigma-Aldrich is a leading Life Science and High Technology company. Our products are used worldwide to enable science that improves the quality of life.
		                  </p>
		                </div>
		              </div>
		              <!-- end about-details -->
		            </div>
		          </div>
		          <!-- End Left services -->
		          <div class="col-md-4 col-sm-4 col-xs-12">
		            <!-- end col-md-4 -->
		            <div class=" about-move">
		              <div class="services-details">
		                <div class="single-services">
		                  <a class="services-icon" href="#">
		                    <img src="images/logos/kanto.png" width="130px" height="130px" alt="">
		                  </a>
		                  <h4>KANTO CHEMICAL</h4>
		                  <p>
		                    The Cica logo, created in 1949, represents a high level of product quality assurance and a corporate philosophy for making contributions to the industries we serve.
		                  </p>
		                </div>
		              </div>
		              <!-- end about-details -->
		            </div>
		          </div>
		          <!-- End Left services -->
		          <div class="col-md-4 col-sm-4 col-xs-12">
		            <!-- end col-md-4 -->
		            <div class=" about-move">
		              <div class="services-details">
		                <div class="single-services">
		                  <a class="services-icon" href="#">
		                    <img src="images/logos/vwr.png" width="130px" height="130px" alt="">
		                  </a>
		                  <h4>VWR</h4>
		                  <p>
		                    Silmid is a specialist distributor of silicones, sealants, adhesives, lubricants, cleaning agents, and surface treatments. Silmid began trading in January 1980 and will be celebrating 40 years of service to aerospace and aviation customers in 2020.
		                  </p>
		                </div>
		              </div>
		              <!-- end about-details -->
		            </div>
		          </div>
		        </div>
		      </div>
		    </div><!-- End Services Section -->
		</section><!-- /.flat-imagebox -->


		<section class="flat-row flat-banner-box">
		 <!-- ======= Team Section ======= -->
		    <div id="team" class="our-team-area area-padding">
		      <div class="container">
		        <div class="row">
		          <div class="col-md-12 col-sm-12 col-xs-12">
		           		<div class="main-heading-content text-center">
                            <h2>Đội ngũ <span>Tư vấn</span></h2>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde omnis iste natus error sit.</p>
                        </div>
		          </div>
		        </div>
		        <div class="row">
		          <div class="col-md-3 col-sm-3 col-xs-12">
		            <div class="single-team-member">
		              <div class="team-img">
		                <a href="#">
		                  <img src="images/team/1.jpg" alt="">
		                </a>
		                <div class="team-social-icon text-center">
		                  <ul>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-facebook"></i>
		                      </a>
		                    </li>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-twitter"></i>
		                      </a>
		                    </li>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-instagram"></i>
		                      </a>
		                    </li>
		                  </ul>
		                </div>
		              </div>
		              <div class="team-content text-center">
		                <h4>Jhon Mickel</h4>
		                <p>03.95.95.4444</p>
		                <p>huynguyenhuynv@gmail.com</p>
		              </div>
		            </div>
		          </div>
		          <!-- End column -->
		          <div class="col-md-3 col-sm-3 col-xs-12">
		            <div class="single-team-member">
		              <div class="team-img">
		                <a href="#">
		                  <img src="images/team/2.jpg" alt="">
		                </a>
		                <div class="team-social-icon text-center">
		                  <ul>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-facebook"></i>
		                      </a>
		                    </li>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-twitter"></i>
		                      </a>
		                    </li>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-instagram"></i>
		                      </a>
		                    </li>
		                  </ul>
		                </div>
		              </div>
		              <div class="team-content text-center">
		                <h4>Andrew Arnold</h4>
		                <p>03.95.95.4444</p>
		                <p>huynguyenhuynv@gmail.com</p>
		              </div>
		            </div>
		          </div>
		          <!-- End column -->
		          <div class="col-md-3 col-sm-3 col-xs-12">
		            <div class="single-team-member">
		              <div class="team-img">
		                <a href="#">
		                  <img src="images/team/3.jpg" alt="">
		                </a>
		                <div class="team-social-icon text-center">
		                  <ul>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-facebook"></i>
		                      </a>
		                    </li>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-twitter"></i>
		                      </a>
		                    </li>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-instagram"></i>
		                      </a>
		                    </li>
		                  </ul>
		                </div>
		              </div>
		              <div class="team-content text-center">
		                <h4>Lellien Linda</h4>
		                <p>03.95.95.4444</p>
		                <p>huynguyenhuynv@gmail.com</p>
		              </div>
		            </div>
		          </div>
		          <!-- End column -->
		          <div class="col-md-3 col-sm-3 col-xs-12">
		            <div class="single-team-member">
		              <div class="team-img">
		                <a href="#">
		                  <img src="images/team/4.jpg" alt="">
		                </a>
		                <div class="team-social-icon text-center">
		                  <ul>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-facebook"></i>
		                      </a>
		                    </li>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-twitter"></i>
		                      </a>
		                    </li>
		                    <li>
		                      <a href="#">
		                        <i class="fa fa-instagram"></i>
		                      </a>
		                    </li>
		                  </ul>
		                </div>
		              </div>
		              <div class="team-content text-center">
		                <h4>Jhon Powel</h4>
		                <p>03.95.95.4444</p>
		                <p>huynguyenhuynv@gmail.com</p>
		              </div>
		            </div>
		          </div>
		          <!-- End column -->
		        </div>
		      </div>
		    </div><!-- End Team Section -->
		</section>


		<!-- ======= \Services Section ======= -->
		<section class="flat-imagebox style2 background">
			 <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="main-heading-content text-center">
                                <h2><span>TIN TỨC </span>MỚI NHẤT</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores.quis magnam deserunt eius incidunt repellat molestiae maiores. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-wrapper-2">
                        <div class="col-md-4 col-sm-6">
                            <article class="blog-post no-box-shadow">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img class="img-responsive" src="images/blog/01.jpg" alt="">
                                    </a>
                                    <div class="meta-info-date">
                                        <a href="#" class="date-right">28 Dec 2017</a>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <div class="post-content-inner">
                                        <div class="meta-info">
                                            <ul class="meta-admin">
                                                <li>
                                                    <a href="#" class="admin-name"> <i class="fa fa-user"></i> Admin</a>
                                                </li>
                                            </ul>
                                            <ul class="meta-category">
                                                <li><i class="fa fa-folder"></i></li>
                                                <li><a href="#" class="category"> Taxhub</a></li>
                                            </ul>
                                        </div>
                                        <h3><a href="#">Consectetur adipisicing elit.</a></h3>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less is a normal distribution of letters.</p>
                                        <a href="#" class="readmore">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="blog-post no-box-shadow">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img class="img-responsive" src="images/blog/02.jpg" alt="">
                                    </a>
                                    <div class="meta-info-date">
                                        <a href="#" class="date-right">28 Dec 2017</a>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <div class="post-content-inner">
                                        <div class="meta-info">
                                            <ul class="meta-admin">
                                                <li>
                                                    <a href="#" class="admin-name"> <i class="fa fa-user"></i> Admin</a>
                                                </li>
                                            </ul>
                                            <ul class="meta-category">
                                                <li><i class="fa fa-folder"></i></li>
                                                <li><a href="#" class="category"> Taxhub</a></li>
                                            </ul>
                                        </div>
                                        <h3><a href="#">Consectetur adipisicing elit.</a></h3>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less is a normal distribution of letters.</p>
                                        <a href="#" class="readmore">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6 hidden-sm">
                            <article class="blog-post no-box-shadow">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img class="img-responsive" src="images/blog/03.jpg" alt="">
                                    </a>
                                    <div class="meta-info-date">
                                        <a href="#" class="date-right">28 Dec 2017</a>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <div class="post-content-inner">
                                        <div class="meta-info">
                                            <ul class="meta-admin">
                                                <li>
                                                    <a href="#" class="admin-name"> <i class="fa fa-user"></i> Admin</a>
                                                </li>
                                            </ul>
                                            <ul class="meta-category">
                                                <li><i class="fa fa-folder"></i></li>
                                                <li><a href="#" class="category"> Taxhub</a></li>
                                            </ul>
                                        </div>
                                        <h3><a href="#">Consectetur adipisicing elit.</a></h3>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less is a normal distribution of letters.</p>
                                        <a href="#" class="readmore">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
		</section><!-- /.flat-imagebox style2 -->
		<section class="flat-row flat-banner-box ptb-80">
			<!-- Start Client Section -->
            <div class="content-section-area">
                <div class="container">
                    <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="client-item">
                                    <img src="images/logos/merch_millipore.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="client-item">
                                    <img src="images/logos/schott_duran.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="client-item">
                                    <img src="images/logos/sigma_aldrich.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="client-item">
                                    <img src="images/logos/vwr.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="client-item">
                                    <img src="images/logos/ajay_sqm.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="client-item">
                                    <img src="images/logos/kanto.png" alt="">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- end Client Section -->
		</section>

	